<html>
  <head>
    <title>Named Entity</title>
  </head>
  <body>
    <h1 id="heading" data-test-id="heading">Named Entity Header</h1>
    <input id="input-text" data-test-id="input-text" class="form-control" />
    <button id="find-button" data-test-id="find-button">submit</button>
    <table id="ner-table" data-test-id="ner-table" class="table table-border">
      <thead class="thead dark">
        <tr>
          <th>Entity</th>
          <th>Type</th>
        </tr>
      </thead>
    </table>
  </body>
</html>
